# The desktop app holds no AI credentials. It calls the web app's /api/ai
# routes, which own the OpenAI key and check the user's licence. Anything
# bundled into a renderer can be read straight out of the app folder, so there
# is deliberately nothing to put here.

# Backend that validates licences and serves the AI routes.
# Defaults to the deployed app; point it at a local web build during development.
# Use 127.0.0.1, not localhost: Electron's main process runs Node, which
# resolves localhost to ::1 and will not fall back to IPv4.
WEB_URL=http://127.0.0.1:3000
